
.body {
    background-color: #0b0b0b;
}

/* Self Clearing Goodness */
.b-link-stripe {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
    width: 100%;
}

.b-link-stripe .b-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.b-link-stripe .b-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    background: rgba(75, 202, 255, 0.85);
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden; /* lt-ie9 */
}

/* lt-ie9 */
.b-link-stripe:hover .b-line {
    visibility: visible;
}

.b-link-stripe .b-line1 {
    left: 0;
}

.b-link-stripe .b-line2 {
    left: 20%;
    transition-delay: 0.1s !important;
    -moz-transition-delay: 0.1s !important;
    -ms-transition-delay: 0.1s !important;
    -o-transition-delay: 0.1s !important;
    -webkit-transition-delay: 0.1s !important;
}

.b-link-stripe .b-line3 {
    left: 40%;
    transition-delay: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -ms-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2s !important;
    -webkit-transition-delay: 0.2s !important;
}

.b-link-stripe .b-line4 {
    left: 60%;
    transition-delay: 0.3s !important;
    -moz-transition-delay: 0.3s !important;
    -ms-transition-delay: 0.3s !important;
    -o-transition-delay: 0.3s !important;
    -webkit-transition-delay: 0.3s !important;
}

.b-link-stripe .b-line5 {
    left: 80%;
    transition-delay: 0.4s !important;
    -moz-transition-delay: 0.4s !important;
    -ms-transition-delay: 0.4s !important;
    -o-transition-delay: 0.4s !important;
    -webkit-transition-delay: 0.4s !important;
}

.b-link-stripe:hover .b-line {
    opacity: 1;
}

/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
    font-size: 1.1em;
    font-weight: 700;
}

.b-animate img {
    margin-top: 4%;
    display: -webkit-inline-box;
}

.b-animate span {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    padding-top: 1.3em;
    display: block;
    font-weight: 500;
}

.b-animate button {
    background: #FFB500;
    padding: 1.1em 2.4em;
    color: #35353F;
    text-transform: uppercase;
    font-size: 0.875em;
    border: none;
    border-radius: 0.5em;
    margin: 0.8em auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    outline: none;
    font-weight: 700;
}

.b-animate button:hover {
    background: #3B3B43;
    color: #fff;
}

.b-animate label {
    display: block;
    font-size: 0.875em;
    margin-top: 0.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.b-animate label:hover {
    color: #FFB500;
    cursor: pointer;
}

/* lt-ie9 */
.b-animate-go:hover .b-animate {
    visibility: visible;
}

.b-from-left {
    position: relative;
    left: -100%;
    background: #45454d;
    background-size: 100% 100%;
    top: 0px;
    margin: 0;
    min-height: 312px;
}

.b-animate-go:hover .b-from-left {
    left: 0;
}

i.heart {
    width: 20px;
    height: 22px;
    background: url(../images/hand.png) 0px 2px;
    display: inline-block;
    margin-right: 3px;
}

i.heart:hover {
    background: url(../images/hand-hover.png) 0px 2px;
}

.portfolio_bottom {
    background: #35353f;
    text-align: center;
    padding: 3em 0;
}

.btn3 span {
    padding: 0.8em 2.5em;
    display: inline-block;
    border: 2px solid #FFF;
    font-size: 1em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.btn3 span:hover {
    color: #ffb500;
    background: #fff;
}

.services {
    background: #ffb500;
    padding: 5em 0;
}