<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p1.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p2.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p3.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p4.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p5.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p6.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p7.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p8.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p9.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p10.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p11.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="b-link-stripe b-animate-go"> <img src="images/p12.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                    <h2 class="b-animate b-from-left">
                        <img src="images/p_logo.png" class="img-responsive" alt=""/> <span>Shutter Project title</span>
                        <button>View photo</button>
                        <label> <i class="heart"> </i>21</label>
                    </h2>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>